<form>
    <fieldset>
        <legend>Cursos</legend>
        
        <table class="table table-hover">
            <tbody>
                <tr class="table-light">
                    <th scope="row">Sigla</th>
                    <td>Nome do Curso</td>
                    <td>Opções</td>
                </tr>
                <tr class="table-dark">
                    <th scope="row">ICC017</th>
                    <td>Engenharia de Software</td>
                    <td>Column content</td>
                </tr>
            </tbody>
        </table>

        <input type="hidden" name="_csrf" value="{{csrf}}">
        <button type="submit" class="btn btn-primary float-right">Criar Conta</button>

    </fieldset>
</form>