<legend class="text-center">
    Ranking</legend>
<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table table-hover">
            <tbody>
                <tr class="table-light">
                    <th scope="row">Nome</th>
                    <td>Vitórias</td>
                </tr>
                <tr class="table-dark">
                    {{#each consulta}}
                    <th scope="row">nome</th>
                    <td>vitorias</td>
                    {{/each}}
                </tr>
            </tbody>
        </table>
    </div>
</div>