<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Chess App</title>
  {{!-- <link rel="stylesheet" href="/css/chessboard-1.0.0.min.css">   --}}
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div id="header" class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
      <a href="/" class="navbar-brand"><h3><img class="logo" src="https://cdn4.iconfinder.com/data/icons/board-games-1/110/King-512.png" style="width:36px" alt="" srcset="">&nbsp; Chess App</h3></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/sobre">Sobre</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/siginup">Sign Up</a>
          </li>            
        </ul>
      </div>
    </div>
  </div>

    <p class='lead'>{{{body}}}</p>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/chessboard-1.0.0.min.js"></script>
  <script src="/js/chess.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>  
</body>