{{!-- <div class="row mt-3ml-0">
    <div class="col">
        <button id="botao" class="btn btn-primary"
    <div>
</div>


<script>
    const socket = io()
    const botao = document.getElementById('botao');
    const msgs = document.getElementById('msgs');
    botao.onclick = () =>{
        socket.emit('oi', 'Oi!')
    };
    socket.on('oi', (oi)=>{
        msgs.innerHTML += oi + '<br';
    });
</script> --}}